{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block head %}
<script src="{% static 'js/project.js' %}"></script>
{% endblock head %}

{% block content %}
<div class="box box-primary">
  <form action="{% url 'scrumboard' project.slug %}" method="post" role="form"
      class="clearfix">
  <div class="box-body">
      {% csrf_token %}
      {{ form.status }}
      {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
          <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
          {{ field }}
          {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
          {% endfor %}
      </div>
      {% endfor %}
   </div>
   <div class="box-body">
   <div class="form-group">
      <div class="pull-right">
          <button class="btn btn-success" type="submit" name="SUBMIT">
              Create Board
          </button>
      </div>
  </div>
  </div>
  </form>

</div>


{% endblock content %}
