{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block javascript %}

<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/modernizr-1.5.min.js"></script>
<script src="js/scripts.js"></script>
{{ block.super }}
{% endblock javascript %}

{% block stylesheets %}
<!-- Select2 -->
<link rel="stylesheet" href="{% static 'css/myscrumBox.css' %}">

{{ block.super }}

{% endblock stylesheets %}

{% block content %}
<div class="contactBox first">
  <div class="title">Scrum Board Example Box</div>
  <a href="">View Board</a>
</div>

{% endblock content %}