{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block javascript %}
    <script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            $('body').addClass('sidebar-collapse');
        });
    </script>

{% endblock javascript %}

{% block stylesheets %}
    {{ block.super }}
{% endblock stylesheets %}


{# TODO Fix the crumb #}
{% block crumb %}
    <li><a href="{% url 'myscrum' %}">Scrum Boards</a></li>
    <li>
        <a href="{% url 'scrumboard'%}">
            {{ course.name }}x
        </a>
    </li>
{% endblock crumb %}



{% block content %}

    <div>
        {% include 'scrumboard/board.html' %}
    </div>

{% endblock content %}
